<div layout-fill>
<h3>Add a prescription</h3>

  <div class="row">
    <form class="col s12" name="prescriptionForm" ng-submit="submitForm()">

        <div class="row">
          <div class="input-field col s12">
            <select ng-model="newPrescription.patient_username" style="display: block" 
             ng-options="user.username for user in data1" >
            </select></br>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select ng-model = "newPrescription.medication_name" style="display: block" 
             ng-options="medication.name for medication in data2" >
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="date" class="datepicker" ng-model = "newPrescription.start_date">
            <label for="datepicker">Start date</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="date" class="datepicker" ng-model = "newPrescription.end_date">
            <label for="datepicker">End date</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="route" name = "route" ng-model = "newPrescription.route" type="text" class="validate">
            <label for="route">Method of taking the medicine</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="image" name = "image" ng-model = "newPrescription.image" type="text" class="validate">
            <label for="image">Image</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="days_interval" name = "days_interval" ng-model = "newPrescription.days_interval" type="text" class="validate">
            <label for="days_interval">Days interval</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select ng-model="newPrescription.times" style="display: block" >
              <option ng-repeat="operator in operators" value="{{operator.value}}">
                 {{operator.displayName}}
              </option>
            </select></br>
          </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>

    </form>
  </div>
</div>

<style type="text/css">
  h3{text-align: center;}
</style>

 <script type="text/javascript">  $('.datepicker').pickadate({
  });</script>


